### (Aula 3.1) Estatística Descritiva - Medidas-Resumo

*1.* Leia o arquivo `Análise Descritiva (Medidas)`, salve em uma variável e mostre as cinco primeiras linhas.

In [4]:
import pandas as pd

df = pd.read_excel('/content/Hikaru Yamanaka - Análise Descritiva (Medidas).xlsx')
df

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pl
0,ID12346,46,MALE,SUBURBAN,37770.90,NO,0,YES,YES,YES,YES,NO
1,ID12291,67,FEMALE,SUBURBAN,63130.10,YES,2,YES,YES,YES,NO,YES
2,ID12371,67,FEMALE,SUBURBAN,60747.50,NO,2,NO,YES,YES,YES,YES
3,ID12111,66,FEMALE,TOWN,59803.90,YES,0,NO,YES,YES,NO,NO
4,ID12235,66,FEMALE,TOWN,59503.80,YES,2,YES,YES,YES,YES,YES
...,...,...,...,...,...,...,...,...,...,...,...,...
325,ID12165,21,MALE,TOWN,5014.21,NO,0,YES,YES,YES,YES,NO
326,ID12130,61,MALE,RURAL,2427.10,YES,1,NO,NO,YES,NO,YES
327,ID12115,36,MALE,RURAL,1947.60,YES,0,NO,YES,YES,YES,NO
328,ID12414,18,FEMALE,RURAL,1610.90,NO,2,YES,YES,YES,NO,NO
329,ID12429,57,FEMALE,RURAL,508.20,NO,1,NO,YES,NO,YES,YES

### Média

*2.* Calcule a média salarial do banco de dados, arredonde para 3 casas decimais e interprete seu valor.

In [ ]:
round(df['income'].mean(), 3)

# ***RESPOSTA:***

*   Está calculando os valores da tabela 'income' fazendo a média e deixando com 3 casas decimais após a ','

*3.* Calcule a diferença das médias salariais dos indíviduos residentes no subúrbio e dos indivíduos que residem na área rural, e interprete o seu valor.

In [ ]:
df.loc[df['region'] == 'SUBURBAN', ['income']].mean()

In [ ]:
df.loc[df['region'] == 'RURAL', ['income']].mean()

# ***RESPOSTA:***

*   Temos pouca diferença entre as regiões 'suburban' e 'rural', porém a região 'suburban' tem uma vantagem acima de '1479,611519'.

### Moda

*4.* Calcule a moda de idade do banco de dados e interprete o seu valor.

In [ ]:
df['age'].mode()

# ***RESPOSTA:***

*   Isso nos mostra que, no nosso banco de dados o valor que mais se repete na tabela 'age' é: 36

### Mediana

*5.* Calcule a mediana de filhos do banco de dados e interprete o seu valor.

In [ ]:
df['children'].median()

# ***RESPOSTA:***

*   Está calculando a média dos filhos na tabela 'children'.

*6.* Calcule a mediana do salário das pessoas casadas que não possuem filhos. Em seguida, calcule a mediana do salário das pessoas casadas que não possuem filhos. Qual é a sua interpretação?

In [ ]:
condcas = (df['married'] == 'YES')
condfi = (df['children'] == 0)


df.loc[(condcas & condfi), ['income']].median()

In [ ]:
condcas = (df['married'] == 'YES')
condfi = (df['children'] == 1)

df.loc[(condcas & condfi), ['income']].median()

In [ ]:
condcas = (df['married'] == 'YES')
condfi = (df['children'] == 2)

df.loc[(condcas & condfi), ['income']].median()

In [ ]:
condcas = (df['married'] == 'YES')
condfi = (df['children'] == 3)

df.loc[(condcas & condfi), ['income']].median()

# ***RESPOSTA:***

*   Vejo que a média de quem não possui 'nenhum (0)' filho está abaixo das outras, mas está mais próxima de quem possui '1' e '2' filhos e mais distante de quem possui '3' filhos.

---

*   Já quem possui entre '1' e '2' filhos, possui uma pequena diferença entre eles.

---

*   Enquanto pessoas que possuem '3' filhos, já tem uma média elevada comparada a quem não possui 'nenhum (0)' filho e tem uma distância acima também de quem possui '1' e '2' filhos.

## Medidas de dispersão

### Amplitude

*7.* Calcule a amplitude das rendas e interprete o seu valor.

In [ ]:
df['income'].max() - df['income'].min()

# ***RESPOSTA:***


*   Isso quer dizer que, ele pega o maior valor e subtrai pelo menor valor do nosso banco de dados, por isso, é um resultado 'estranho'.

---


*   E se for analisar no nosso banco de dados, a renda (income) de maior valor é gigantesca em comparação ao de menor valor.

### Variância

*8.* Calcule a variância do número de filhos e das idades. Em seguida, interprete os seus valores.

In [ ]:
round((df['children'].var()), 2)

In [ ]:
round((df['age'].var()), 2)

# ***RESPOSTA:***

*  A variância da tabela 'children' ela se resulta na quantidade de filhos, pois seus valores são baixos, não ultrapassando mais que '3' filhos.

---

*  Agora a variância da tabela 'age' ela já tem um resultado mais alto, pois seu resultado está elevada ao quadrado (14.55 ²).

### Desvio padrão

*9.* Calcule o desvio padrão do número de filhos e das idades. Em seguida, interprete os seus valores.

In [ ]:
round(df['children'].std(), 2)

In [ ]:
round(df['age'].std(), 2)

# ***RESPOSTA:***

*   O desvio padrão da tabela 'children' está mais coerente, pois mostra dados mais concentrados.

---

*   Agora para a tabela 'age', já nos mostra um resultado real sem estar elevada ao quadrado.

## Summary

*10.* Calcule as estatísticas descritivas para todas as colunas numéricas, arredondando para 2 casas decimais. Discorra sobre as interpretações que você achar mais interessantes e pertinentes.

In [ ]:
round(df.describe(), 2)

# ***RESPOSTA:***


*   Achei interessante desde o início, a diferença entre o min e o máximo da renda(income), pois na amplitude tinha dado um valor 'suspeito'.

---

*   Achei interessante também que no segundo quartil (2/4), é onde mostra pessoas com uma certa estabilidade em sua renda (income) e estão quase parecidos com a tabela média.

*11.* Calcule as estatísticas descritivas para todas as colunas numéricas, agrupando-as pelo gênero. Como os valores obtidos aqui se comparam com os valores obtidos no item anterior? Qual é a sua interpretação?

In [ ]:
round(df.groupby(df['sex']).describe(), 2)

# ***RESPOSTA:***

*   Bom, ao comparar as duas tabelas, podemos ver que as médias das colunas são iguais em sua soma, porém ao agrupar em gênero, podemos ver valores diferentes na tabela 'children' e nas colunas 'mean' e 'std'. E, nas demais colunas são iguais.

---

*   Agora, comparando com a tabela 'age', podemos ver que ao agrupar em gênero a média de 'female' é um pouco superior a de 'male', e possui algumas diferenças acima também nas colunas: 'std', '25%', '50%, '75%' 

---

*   Comparando a tabela 'income', podemos ver que o gênero 'female' possui mais dados acima que os 'males'. Como em: 

*   Nas colunas onde as 'females' possuem uma pequena vantagem são as: 'mean', 'std' e '50%'.

*   Agora as colunas onde as 'females' possuem uma vantagem mais alta, são as: '25%' e 'max'.

---

*   Agora os 'males' levam uma vantagem alta na colunam '75%' e na coluna 'min' pois a vantagem é muito grande.

---


*   As tabelas se comparam em seus valores gerais, onde não tem distinção de gênero, mas de forma específica, agrupando-as fica melhor de entender o nosso banco de dados e sugerir melhorias ou uma estratégia de crescimento.