In [43]:
import pandas as pd
import numpy as np
import datetime
from pandas.core.frame import DataFrame

In [ ]:
# round

# - temp : Normalized temperature in Celsius. The values are divided to 41 (max)
# - atemp: Normalized feeling temperature in Celsius. The values are divided to 50 (max)
# - hum: Normalized humidity. The values are divided to 100 (max)
# - windspeed: Normalized wind speed. The values are divided to 67 (max)



# inplace = True


# df['coluna'].fillna(df['coluna'].mean(), inplace= True)

In [44]:
df = pd.read_csv('/content/Dados - Desafio 2.csv',
                 sep = ';',
                 parse_dates = ['dteday'],
                 dayfirst = True,
                 decimal = ','
)

In [ ]:
# df['hr'] = df.hr.astype('object')

In [ ]:
# Mostra o banco de dados
df

In [ ]:
# Mostra o tipo dos valores de cada coluna
df.dtypes

In [ ]:
# Mostra se estão vazios em boleano
pd.isna(df['season'])

In [54]:
# Remove a coluna que tem valores nulos
df.dropna(axis=1, how='all', inplace = True )

In [51]:
# Remove a coluna que tem valores nulos
del df['season']

In [58]:
# Lista tudo o que é nulo
df.isnull().sum()

ID            0
dteday        0
hr            0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
dtype: int64

In [57]:
# Tratandndo os dados nulos com valores ou informações
df['atemp'].fillna(df['atemp'].mean(), inplace= True)
df['temp'].fillna(df['temp'].mean(), inplace= True)
df['weathersit'].fillna('No info', inplace = True)
df['windspeed'].fillna(df['windspeed'].mean(), inplace= True)
df['hum'].fillna(df['hum'].mean(), inplace= True)
df['dteday'].fillna(df.ffill()['dteday'], inplace = True)

# Preenchendo com os valores de baixo
# df['dteday'].fillna(method = "bfill", limit = 1, inplace = True)